:root {
  --primary-color: #2072e8;
  --secondary-color: #e8f1ff;
  --label-color: #bcc1c7;

  --light-gray: #c1c7d6;
}

html,
body,
#root {
  height: 100%;
}

.app-container {
  min-height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.card-title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.more-menu {
  margin-left: auto;
}

.chart-block {
  margin-right: -35px;
  margin-left: -35px;
}

.welcome-message {
  font-weight: 600;
}

.icon-settings {
  color: var(--light-gray);
  height: 20px;
  width: 20px;
}
