.login-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
}

.login-container button {
  font-size: 1.5em;
  max-width: 400px;
  height: 60px;
}

.login-message {
  font-size: 3rem;
  margin-bottom: 40px;
}
