.track-card.compact {
  cursor: pointer;
}

.stat-block .stat-block__label {
  color: var(--color-label);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.stat-block .stat-block__value {
  font-size: 1.5rem;
}

.section__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button__done {
  position: relative; /* For animation icon positioning */
  width: 100px;
}

.settings__icon {
  color: var(--gray-light);
  height: 20px;
  width: 20px;
}

.settings__button:hover .settings__icon {
  color: var(--gray-dark);
}

.animation-done {
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;

  height: 45px;
  width: 45px;
}

.animation-done--exiting {
  animation: fadeUpOut 1s cubic-bezier(0, 0, 0.32, 1.5) forwards;
  visibility: visible;
}

.animation-done__icon {
  color: var(--color-primary);
}

@keyframes fadeUpOut {
  0% {
    top: -110%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: -160%;
    opacity: 0;
  }
}
